body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #282c34;
    color: #61dafb;
    text-align: center;
}

h1 {
    color: #98c379;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
}

input[type=number] {
    width: 60%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

button {
    padding: 10px 15px;
    cursor: pointer;
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: #282c34;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #98c379;
}

#result {
    margin-top: 20px;
    padding: 20px;
    background-color: #98c379;
    color: #282c34;
    border-radius: 5px;
    font-size: 22px;
    display: inline-block;
}


@keyframes pop {
    0% { transform: scale(0.95); opacity: 0; }
    50% { transform: scale(1.05); opacity: 0.5; }
    100% { transform: scale(1); opacity: 1; }
}

#result.show {
    animation: pop 0.5s ease;
}

.input-group input:focus, button:focus {
    outline-color: #61dafb;
}
